<div class="px-4 py-8">
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1 class="text-3xl text-center mb-6 font-semibold">{{ collection.title }}</h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {%  render 'product-card', product_product: product %}
        {% else %}
          <p>There are no products currently located in this collection.</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
  <div class="justify-center m-auto 2xl:w-2/4 lg:w-10/12 sm:w-full text-center">{{ collection.description }}</div>
</div>

{%  schema  %}
{
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "Number of products per page"
      }
    ]
}
{% endschema %}
